@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-weight: 900;
}

sub {
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
}

body {
    margin: 0;
    padding: 0;
    /* padding-top: 0; */
}